[submodule ".themes/solarized"]
	path = .themes/solarized
	url = git://github.com/erikzaadi/solarized-octopress-theme.git
[submodule ".themes/oct2"]
	path = .themes/oct2
	url = git://github.com/bijumon/oct2.git
[submodule ".themes/greyshade"]
	path = .themes/greyshade
	url = git://github.com/shashankmehta/greyshade.git
