// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
html {
    background: $page-bg;
}
article {
    h1, h2, h3, h4, h5, h6
    {
        color : $sol_yellow;
    }
}

div.licence {
 &> a {
   float: left;
   margin-top: 5px;
 }

 div {
   float: left;
   width: 300px;
   font-size: smaller;
   line-height: 1.5em;
   margin-left: 10px;
 }
}

span.credit {
  float: right;
}
